$button-import: #0067ff;
$button-primary: #1f28bf;
$column-background: #2b333e;
$default-font: Helvetica, Arial, sans-serif;
$footer-background: #dde1ea;
$footer-links: #687b93;
$header-background: #fff;
$header-links: #060826;
$header-tabs: #00aded;
$link: #00aded;
$link-hover: #0090ff;
$page-background: #f3f6f9;
$tabs-horizontal-color: #00aded;
$tabs-vertical-color: #eee;
